{% extends "navbar.html" %}

{% block content %}
  <h1>Add Event</h1>  


  <form method="post">
    <input type="hidden" name="form_name" value="event_type_form">
    <label for="event_type"><b>Event Type</b>:</label>
    <select id="event_type" name="event_type">
      {% for key in event_types %}
      <option value="{{ key }}" {% if key == event.type() %}selected{% endif %}>{{ key }}</option>
      {% endfor %}
    </select>
    <button type="submit">Update Type</button>
  </form>
  <br>
  <br>

  <form method="POST">
    <input type="hidden" name="form_name" value="event_attributes_form">
	<label><b>Event Name</b>:</label>
	<input type="text" name="key">
	<br>
	<br>
	{% include 'events/' + event_type + '_event.html' %}
	<br>
    <input type="submit" value="Submit">
  </form>
{% endblock %}
