{% extends "base.html" %}

{% block content %}
  <h1>Add Event</h1>  


    <form method="post">
        <input type="hidden" name="form_name" value="etype">
        <label for="etype">Event Type:</label>
        <select id="etype" name="etype">
           {% for key in event_types %}
             <option value="{{ key }}">{{ key }}</option>
           {% endfor %}
        </select>
        <button type="submit">Update Type</button>
    </form>


  <form method="POST">
    <input type="hidden" name="form_name" value="attributes">
	<label>Event Name:</label>
	<input type="text" name="key">
	<br>
	<br>
	<br>
    {% for key, value in data_dict.attributes.items() %}
      <label>{{ key }}:</label>
      {% if value is boolean %}
        <input type="checkbox" name="{{ key }}" {% if value %} checked {% endif %}><br>
      {% else %}
        <input type="text" name="{{ key }}" value="{{ value }}"><br>
      {% endif %}
    {% endfor %}
	<br>
    <input type="submit" value="Submit">
  </form>
{% endblock %}
